{% extends 'layout.html' %}

{% block body %}
<div class="flex-container">
    <div>
        <h3>What's in Your Fridge?</h3>
        <form action="/recipes/fridge" method="POST">
            <div>
                <select name="ingredient" required>
                    <option></option>
                {% for ingredient in ingredients %}
                    <option>{{ingredient.name}}</option>
                {% endfor %}            
                </select>
            </div>
            <div>
                <input placeholder="quantity" name="quant" type="number" required>
            </div>
            <div><input type="submit"></div>
        </form>
    </div>
    <div>
        {% if fridge_items %}
            {% for item in fridge_items %}
                <p>{{item}} - {{fridge_items[item]}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% if fridge_items %}
            <a href="/recipes/calc">calculate recipes</a>
        {% endif %}
    </div>
    <!-- <div>
        <h3>Recipe List</h3>
        {% if recipes %}
            {% for recipe in recipes %}
                <p>{{recipe.name}}</p>
            {% endfor %}
        {% else %}
            <p>empty</p>
        {% endif %}
    </div> -->
</div>
{% endblock %}